<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PatriotRV.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PatriotRVWatchApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PatriotRvWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>272FC2D1297C774D005C6D43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F2A5A9297C141A00EFD417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F2A5B9297C141B00EFD417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F2A5C3297C141B00EFD417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
